/*
	Bus Styles
*/

body {
	font-family: 'Arial', cursive;
	font-size: 20px;
	background-color: rgba(2, 41, 2, 0.548);
	color: white;
}
h1 {
	font-size: 40px;
}
select {
		font-family: 'Arial', cursive;
		background-color: white;
}
table, th, td {
	vertical-align: top;
}
img {
	vertical-align: top;	
}
	